# Local environment files
.env
.env.local

# MacOS
.DS_Store

# Go build
bin/

# test images
test*.jpg
backend-intergation.md
.gitignore
Nature-Valley-Protein-Granola-Oats-and-Honey-Resealable-Bag-11-oz_19d819d8-c53b-48cd-988b-4c9ee6b9bbc1.0f6f9be0640e1102401808b51948f178.jpg
video-script.md
